<h1>Team Name: <%= @team[:name] %></h1>

<h3>Team Motto: <%= @team[:motto] %></h3>

<h3>Team Members</h3>
<% @team[:members].each do |member, member_attributes| %>
  <h5><%= member_attributes[:name] %></h5>
  <p><strong>Power</strong>: <%= member_attributes[:power] %></p>
  <p><strong>Bio</strong>: <%= member_attributes[:bio] %></p>
<% end %>